{% extends 'base.html' %}


{% block content %}

<section class="section-conten padding-y bg">

{% include 'include/alert.html' %}
<div class="container">
	<div class="row">
	{% include 'include/dashboard_sidebar.html' %}
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Add Product</strong>

		</header>
		<div class="card-body">
			<div class="row">
			<div class="col-md-12">
			{% if message %}
			<p class="text-success">{{message}}</p>
			{% elif error %}
			<p class="text-danger">{{error}}</p>
			{%endif %}
				<form action="{% url 'add_product' %}" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="form-row">
						<div class="form-group col-md-6">
							<label>Product Name</label>
                            <input  required type="text" name="product_name" class="form-control" />
						</div>
						<div class="form-group col-md-6">
							<label>Product Description</label>
                            <textarea required type="text" name="product_description" class="form-control" rows=5></textarea>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label>Items In Stock</label>
							<input  required type="number" name="stock_count" class="form-control" />
						</div>
						<div class="form-group">
						<label>Item Price</label>
						<input  required type="number" name="item_price" class="form-control" />
					</div>
						<div class="form-group col-md-6">
							<label>Product Picture</label>
							<input required type="file" class="form-control"  name="product_image" />
						</div>
					</div>

					<div class="form-group">
						<label>Select Category</label>
						<select name="category" required class="form-control">
						{% for cat in category %}
						<option value="{{cat.id}}">{{ cat }}</option>
						{% endfor %}
						</select>
					</div>

					<input type="submit" value="Save" class="btn btn-primary">
				</form>
			</div>

			</div> <!-- row.// -->
		</div> <!-- card-body .// -->

		</article> <!-- order-group.// -->
	</main>
</div> <!-- row.// -->
</div>


</section>

{% endblock %}
