{% extends 'base.html' %}
{% load static %}
{% block content %}



<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
	<div class="container">
		{% if 'search' in request.path %}

		<h2 class="title-page">Search Result</h2>
		{% else %}
		<h2 class="title-page">Our Store</h2>
		{% endif %}

	</div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
	<div class="container">

		<div class="row">
			<aside class="col-md-3">

				<div class="card">
					<article class="filter-group">
						<header class="card-header">
							<a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
								<i class="icon-control fa fa-chevron-down"></i>
								<h6 class="title">Categories</h6>
							</a>
						</header>
						<div class="filter-content collapse show" id="collapse_1" style="">
							<div class="card-body">

								<ul class="list-menu">
									{% for category in links %}
									<li><a href="{% url 'product_by_category' category.slug %}">{{category.category_name}}
										</a></li>

									{% endfor %}
								</ul>

							</div> <!-- card-body.// -->
						</div>
					</article> <!-- filter-group  .// -->
					{% comment %} <article class="filter-group">
						{% comment %} <header class="card-header">
							<a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true" class="">
								<i class="icon-control fa fa-chevron-down"></i>
								<h6 class="title">Sizes </h6>
							</a>
						</header> {% endcomment %}
						{% comment %} <div class="filter-content collapse show" id="collapse_4" style="">
							<div class="card-body">
								<label class="checkbox-btn">
									<input type="checkbox">
									<span class="btn btn-light"> XS </span>
								</label>

								<label class="checkbox-btn">
									<input type="checkbox">
									<span class="btn btn-light"> SM </span>
								</label>

								<label class="checkbox-btn">
									<input type="checkbox">
									<span class="btn btn-light"> LG </span>
								</label>

								<label class="checkbox-btn">
									<input type="checkbox">
									<span class="btn btn-light"> XXL </span>
								</label>
							</div><!-- card-body.// -->
						</div> {% endcomment %}
					{% comment %} </article> <!-- filter-group .// --> {% endcomment %}

					<article class="filter-group">
						<header class="card-header">
							<a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
								<i class="icon-control fa fa-chevron-down"></i>
								<h6 class="title">Price range </h6>
							</a>
						</header>
						<div class="filter-content collapse show" id="collapse_3" style="">
							<div class="card-body">
							<form method="GET" action='{% url 'range' %}'>
								<div class="form-row">
									<div class="form-group col-md-6">
										<label>Min</label>
										<!-- <input class="form-control" placeholder="$0" type="number"> -->
										<select class="mr-2 form-control" name='min'>
											<option value="0">$0</option>
											<option value="50">$50</option>
											<option value="100">$100</option>
											<option value="150">$150</option>
											<option value="200">$200</option>
											<option value="500">$500</option>
											<option value="1000">$1000</option>
										</select>
									</div>
									<div class="form-group text-right col-md-6">
										<label>Max</label>
										<select class="mr-2 form-control" name='max'>
											<option value="50">$50</option>
											<option value="100">$100</option>
											<option value="150">$150</option>
											<option value="200">$200</option>
											<option value="500">$500</option>
											<option value="1000">$1000</option>
											<option value="2000">$2000+</option>
										</select>
									</div>
								</div> <!-- form-row.// -->
								<button class="btn btn-block btn-primary" type='submit'>Apply</button>
							</form
							</div><!-- card-body.// -->
						</div>
					</article> <!-- filter-group .// -->

				</div> <!-- card.// -->

			</aside> <!-- col.// -->
			<main class="col-md-9">

				<header class="border-bottom mb-4 pb-3 d-flex justify-content-between">
					<div class="form-inline">
						<span class="mr-md-auto"> <b>{{count}} </b> items found</span>

					</div>
					{% if category %}



					{% if not subscribers or request.user not in subscribers  %}
					<button id="subscribe" class="btn btn-primary" onclick={subscribeToggler(true)}>Subscribe</button>
					<button id="subscribed" class="btn btn-outline-danger" onclick={subscribeToggler(false)} style="display:none;" >Subscribed</button>
					{% else %}
					<button id="subscribed" class="btn btn-outline-danger" onclick={subscribeToggler(false)} >Subscribed</button>
						<button id="subscribe" class="btn btn-primary" onclick={subscribeToggler(true)} style="display:none;">Subscribe</button>
					{% endif %}
					<script>
					async function subscribeToggler(value){
					if (value){
					
					var url = "{% url 'subscribe' category_id=category_id %}";

					var csrftoken = "{{ csrf_token }}";

					var fetchOptions = {
					method: 'GET',  // or 'POST' if needed
					headers: {
					'Content-Type': 'application/json',
					'X-CSRFToken': csrftoken
					},
					};
					const response=await fetch(url,fetchOptions)
					const response_data=await response.json()
					if (response.ok){
					document.getElementById('subscribed').style.display="block"
					document.getElementById('subscribe').style.display="none"
					alert(response_data.message)

					}else{
					alert(response_data.error)
					}

					}else{

					var url = "{% url 'unsubscribe' category_id=category_id %}";

					var csrftoken = "{{ csrf_token }}";

					var fetchOptions = {
					method: 'GET',  // or 'POST' if needed
					headers: {
					'Content-Type': 'application/json',
					'X-CSRFToken': csrftoken
					},
					};
					const response=await fetch(url,fetchOptions)
					const response_data=await response.json()
					if (response.ok){
						document.getElementById('subscribed').style.display="none"
						document.getElementById('subscribe').style.display="block"
						alert(response_data.message)
					}else{
					alert(response_data.error)
					}
					}
					}
					</script>	
									{% endif %}

				</header><!-- sect-heading -->

				<div class="row">
					{% if all_products %}

					{% for product in all_products %}
					<div class="col-md-4">
						<figure class="card card-product-grid">
							<div class="img-wrap">
								
								<a href="{{product.get_url}}"><img src="{{product.images.url}}"></a>

							</div> <!-- img-wrap.// -->
							<figcaption class="info-wrap">
								<div class="fix-height">
									<a href="{{product.get_url}}" class="title">{{product.product_name}}</a>
									<div class="price-wrap mt-2">
										<span class="price">${{product.price}}</span>
										<del class="price-old">$1980</del>
									</div> <!-- price-wrap.// -->
								</div>
								<a href="{{product.get_url}}" class=" btn btn-block btn-primary ">View details </a>
							</figcaption>
						</figure>
					</div> <!-- col.// -->
					{% endfor %}
					{% else %}
					<h2 class="title-page" > No Search items are found! please try again</h2>


					{% endif %}

				</div> <!-- row end.// -->


				<nav class="mt-4" aria-label="Page navigation sample">
					{% if all_products.has_other_pages %}
					<ul class="pagination">
						{% if all_products.has_previous %}
						<li class="page-item "><a class="page-link"
								href="?page={{all_products.previous_page_number}}">Previous</a></li>
						{% else %}
						<li class="page-item disabled"><a class="page-link" href="">Previous</a></li>
						{% endif %}

						{% for i in all_products.paginator.page_range %}
						{% if all_products.number == i %}
						<li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
						{% else %}
						<li class="page-item "><a class="page-link" href="?page={{i}}">{{i}}</a></li>
						{% endif %}
						{% endfor %}
						{% if all_products.has_next %}
						<li class="page-item"><a class="page-link active" href="?page={{all_products.next_page_number}}">Next</a></li>
						{% else %}
						<li class="page-item disabled"><a class="page-link " href="#">Next</a></li>
						{% endif %}
					</ul>
					{% endif %}
				</nav>

			</main> <!-- col.// -->

		</div>

	</div> <!-- container .//  -->
</section>

{% endblock %}
